@use '../../styles/base' as *;
.layout {
	position: relative;
	display: flex;
	flex-direction: column;

	&__content {
		display: flex;
		&__sidebar {
			width: 30%;
			height: calc(100vh - $footer_height - $header_height);
		}
		
	}
	&__main {
		min-height: calc(100vh - $footer_height - $header_height);
		// margin-left: 30%;
		width: 100%;
		margin-top: 1rem;
		padding: 1rem 2rem;
	}

}