@use '../../styles/base' as *;
.registration {
	@include flexBox(center, center);
	flex-direction: column;
	width: 100%;
	padding: 0 4rem;
	&__buttons {
		display: flex;
		justify-content: center;
	}
}