@use '../../styles/base' as *;
.header {
	height: $header_height;
	padding: 3rem 0;
	@include flexBox(space-between, center);
	border-bottom: .1rem solid lightgray;
	//background: $color_0F0F10;
	//color: $color_C5C6CB;
	&__menu {
		@include flexBox(null, center);
		gap: 1rem;
		&__select__icon {
			border: none !important;
		}
		&__theme {
			@include flexBox(center, center);
			cursor: pointer;
			border: .1rem solid gray;
			border-radius: .5rem;
			padding: 0.2rem;
			&__icon {
				@include flexBox(center, center)
			}
		}
	}
}

