@use '../../styles/base' as *;
.header {
	height: $header_height;
	padding: 2rem;
	margin-top: 1rem;
	border-radius: 30px;
	position: sticky;
    z-index: 100;
	@include flexBox(space-between, center);
	border-bottom: .1rem solid lightgray;

	&__menu {
		@include flexBox(null, center);
		gap: 1rem;
		&__select__icon {
			border: none !important;
		}
		&__theme {
			@include flexBox(center, center);
			cursor: pointer;
			border: .1rem solid gray;
			border-radius: .5rem;
			padding: 0.2rem;
			&__icon {
				@include flexBox(center, center)
			}
		}
	}
}

