@use '../../styles/base' as *;
.header {
	height: $header_height;
	padding: 3rem 0;
	@include flexBox(space-between, center);
	border-bottom: .1rem solid lightgray;
	//background: $color_0F0F10;
	color: $color_C5C6CB;
	&__menu {
		@include flexBox(null, center);
		gap: 1rem;
		&__select__icon {
			border: none !important;
		}
		.react-select-container {
			outline: none;
		}
		.react-select__value-container {
    		border-radius: 0.5rem;
		}
		.react-select__value-container--has-value {
			height: 33.39px;
			width: 38px;
			padding: 0.2rem;
		}
		.react-select__input-container {
			margin: 0 !important;
		}
		.react-select__control, .react-select__control-value {
			border: none;
			outline: none;
			background: none;
			box-shadow: none;
			cursor: pointer;
		}
		.react-select__control--is-open .react-select__value-container {
			background-color: gray;
		}
		.react-select__indicator-separator, .react-select__dropdown-indicator {
			display: none;
		}
		.react-select__menu {
			outline: none;
			width: 100%;
		}
		.react-select__single-value {
			color: gray;
			text-align: center;
		}
		&__theme {
			@include flexBox(center, center);
			cursor: pointer;
			border: .1rem solid gray;
			border-radius: .5rem;
			padding: 0.2rem;
			&__icon {
				@include flexBox(center, center)
			}
		}
	}
}

