@use '../../styles/base' as *;
.footer {
	height: $footer_height;
	padding: 3rem 2rem 1rem;
	@include flexBox(space-between, center);
	border-top: .1rem solid lightgray;
	position: sticky;
	z-index: 200;
	border-radius: 30px;
}