@use '../../styles/base/' as *;
.nav {
	@include flexBox(null, center);
	gap: 1rem;
	margin-left: auto;
    margin-right: 1rem;
		&__account {
			// position: relative;
		}
		&__select__icon {
			border: none !important;
		}
		&__theme {
			@include flexBox(center, center);
			cursor: pointer;
			border: .1rem solid gray;
			border-radius: .5rem;
			padding: 0.2rem;
			&__icon {
				@include flexBox(center, center)
			}
		}
}