//$color_0F0F10: #0F0F10;
$color_202227: #202227;
$color_C5C6CB: #C5C6CB;
$color_ffffff: #ffffff;
$color_141519: #141519;
$color_191A1F: #191A1F;

$color_000000: '#000000';
$color_0F0E0E: '#0F0E0E';
$color_232323: '#232323';
$color_3D3D3D: '#3D3D3D';
$color_525252: '#525252';
$color_5C5C5C: '#5C5C5C';
//$color_: '#000000';


	//DEFAULT: '#000000';
	// $color_100: '#000000';
	// $color_200: '#000000';
	// $color_300: '#000000';
	// $color_400: '#000000';
	// $color_500: '#0F0E0E';
	// $color_600: '#232323';
	// $color_700: '#3D3D3D';
	// $color_800: '#525252';
	// $color_900: '#5C5C5C';

	// DEFAULT: '#7C7C7C';

	// DEFAULT: '#000000';
	// &color__100: '#000000';
	// &color__200: '#000000';
	// &color__300: '#000000';
	// &color__400: '#000000';
	// &color__500: '#0F0E0E';
	// &color__600: '#292929';
	// &color__700: '#3D3D3D';
	// &color__800: '#525252';
	// &color__900: '#5C5C5C';

// 	$DEFAULT: '#FFFFFF';
// 	$color100: '#F7F7F7';

// 	$DEFAULT: '#3C3C3C';

// $accentMain: '#0F0E0E';
// $borderColor: '#3C3C3C';
// $blue: '#1900D5';